<div class="row">
    <div class="span12">
        <table class="table">
            <tbody>
            <br>
            <tr>
                <td>
                    <drawing-canvas/>
                </td>
                <td>

                  <div class="control-group">
                    <label class="control-label">Plant</label>

                    <div class="controls">
                      <label class="btn btn-default"><input type="radio"
                                                           name="plantRadio" ng-model="plantType" value="0"
                                                           >Tulip
                        <figure>
                          <img src="images/tulip.gif" alt="Tulip"
                               height='50'>
                        </figure>
                      </label>

                      <label class="btn btn-default"><input type="radio"
                                                            name="plantRadio" ng-model="plantType"
                                                            value="1">Flower
                        <figure>
                          <img src="images/joannaFlowanna.gif" alt="Flower"
                               height='50'>
                        </figure>
                      </label>

                      <label class="btn btn-default"><input type="radio"
                                                            name="plantRadio" ng-model="plantType"
                                                            value="2">Daisy
                        <figure>
                          <img src="images/daisy.gif" alt="Daisy"
                               height='50'>
                        </figure>
                      </label>
                    </div>
                  </div>
                </td>
            </tr>
            <tr>
             <td>
               <h3>Control:</h3>
               <p>Use arrow keys to move the pony!</p>
               <p>Press "E" to start and stop eating plants!</p>
             </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
